<div class="card">
  <p-fieldset legend="{{ id ? 'Edit Product' : 'Add Product' }}">
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <div class="flex flex-column gap-2">
        <label htmlFor="name">Name</label>
        <input
          formControlName="name"
          pInputText
          id="name"
          aria-describedby="name-help"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="desc">Description</label>
        <p-editor
          formControlName="description"
          [style]="{ height: '120px' }"
        ></p-editor>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="name">Price</label>
        <p-inputNumber formControlName="price" inputId="integeronly">
        </p-inputNumber>
      </div>
      <div class="flex flex-column align-items-end gap-3 mt-1">
        <p-button
          severity="secondary"
          label="Clear"
          (click)="clearForm()"
          icon="pi pi-times"
        ></p-button>
        <p-button
          label="Save"
          class="float-right"
          type="submit"
          icon="pi pi-save"
        ></p-button>
      </div>
    </form>
  </p-fieldset>
</div>
